#preloader {
    z-index: 999;
}
/*-- Frontpage animation --*/

#anim-frontpage {
    background: url(../img/frontpage-animations/bckg-map.jpg) top center no-repeat;
    background-size: cover;
    position: relative;
    clear: both;
    overflow: hidden;
    min-height: 830px;
}

.plain-white {
    background-color: rgba(255, 255, 255, 0.94);
    position: absolute;
    width: 100%;
    height: 100vh;
    min-height: 830px;
}

#frontpage-content h1 {
    font-size: 62px;
}
#frontpage-content h4 {
    min-width: 400px;
}

#frontpage-content .mockups {
    text-align: center;
    position: relative;
    margin-top: 30px;
    height: 450px;
    margin-bottom: -70px;
    height: 440px;
    max-height: 440px;
}

#frontpage-content .mockups img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateX(-105%);
}

#frontpage-content .mockups img:nth-child(1) {
    margin-top: -44px;
    z-index: 5;
    transform: translateX(-75%);
}

#frontpage-content .mockups img:nth-child(2),
#frontpage-content .mockups img:nth-child(3),
#frontpage-content .mockups img:nth-child(4),
#frontpage-content .mockups img:nth-child(5),
#frontpage-content .mockups img:nth-child(6),
#frontpage-content .mockups img:nth-child(7),
#frontpage-content .mockups img:nth-child(8),
#frontpage-content .mockups img:nth-child(9)
{
    margin-top: 0.31%;
}

#frontpage-content .mockups img:nth-child(10) {
    margin-top: 0.3%;
    transform: translateX(35%);
}

/*
#anim-frontpage .btn {
    transition: none;
}
*/

.hover-transition {
    transition: .25s ease;
}
.hover-transition:hover {
    box-shadow: 0 5px 9px 0 rgba(0, 69, 135, .4);
    transform: matrix(1, 0, 0, 1, 0, -5);
}

/*-- Introduction animation --*/

#introduction_container {
    height: 500px;
    max-height: 500px;
    margin: 0 auto;
    opacity: 0;
}

.hover-scale2 {
    stroke-width: 7px;
    stroke: transparent;
}

/*-- Chapter 1 animaion --*/

#chapter1_container {
    height: 500px;
    max-height: 500px;
    margin: 0 auto;
    opacity: 0;
}


/*-- Chapter 2 animaion --*/

#chapter2-illustration {
    height: 250px;
    max-height: 250px;
    opacity: 0;
}

.draw-animation {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    animation: draw 18s forwards;
}

@keyframes draw {
    100% {
        stroke-dashoffset: 0;
    }
}


/*-- Chapter 3 animaion --*/

#water-anim {
    background: #a6d8f4;
    height: 600px;
    max-height: 600px;
    width: 100%;
    position: relative;
    opacity: 0;
}

#iceberg1 {
    width: 127px;
}

#iceberg2 {
    width: 146px;
}

#iceberg3 {
    width: 161px;
}

#iceberg4 {
    width: 176px;
}

#wateranim-action {
    height: 100%;
}

#water-anim .side-left,
#water-anim .side-right {
    display: inline-block;
    position: relative;
    width: 49.5%;
    height: 100%;
}

#water-anim .side-left>div {
    position: absolute;
}

#water-anim .side-right>div {
    position: absolute;
}

#iceberg1 {
    position: absolute;
    top: 30%;
    right: 60%;
}

#iceberg3 {
    position: absolute;
    top: 65%;
    right: 50%;
}

#iceberg2 {
    position: absolute;
    top: 40%;
    left: 45%;
}

#iceberg4 {
    position: absolute;
    top: 70%;
    left: 40%;
}

#ship {
    width: 235px;
    height: 500px;
    max-height: 500px;
    position: absolute;
    left: 50%;
    top: 10%;
}

#ship svg {
    position: relative;
    left: -50%;
}

.ice-text {
    font-family: Trebuchet MS;
    font-size: 15px;
    position: absolute;
    width: 150%;
    top: -20%;
    line-height: 20px;
}

#iceberg1 .ice-text {
    right: -104%;
    top: -27%;
}

#iceberg3 .ice-text {
    right: -81%;
    top: -60%;
}

#iceberg2 .ice-text {
    text-align: right;
    left: -74%;
    top: -74%;
}

#iceberg4 .ice-text {
    text-align: right;
    left: -76%;
    top: -40%;
}


/*-- Chapter 4 animation --*/

#chapter4-illustration {
    width: 100%;
    height: 275px;
    overflow: hidden;
    overflow-x: hidden;
}

#chapter4-illustration svg {
    height: 275px;
    max-height: 275px;
}


/*-- Chapter 5 animation --*/
#chapter5-illustration {
    opacity: 0;
}
.round-container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: -6px 6px 0 2px #8394c1;
    margin: 0 auto;
    margin-top: 50px;
}

#ch5-icon1 {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}

#ch5-icon1 svg {
    position: absolute;
}

#ch5-icon2 {
    width: 126px;
    margin: 0 auto;
    margin-top: 80px;
}

#ch5-icon3 {
    width: 173px;
    margin: 0 auto;
    margin-top: 102px;
    margin-left: -13px;
}

#ch5-icon3 svg {
    transform: translateY(30px)
}

#ch5-icon4 {
    width: 98px;
    margin: 0 auto;
    margin-top: 44px;
}

#ch5-i4_question {
    transform-origin: 0 100%;
    opacity: 0;
}

.ch5-icon-text {
    text-align: center;
    font-size: 18px;
    color: #414141;
}


/*-- Chapter 6 animation --*/

#chapter6_container {
    height: 400px;
    max-height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    opacity: 0;
}

/*-- Chapter 7 animation --*/

#chapter7-svg {
    height: 900px;
    max-height: 900px;
    position: relative;
}
.ch7-map-link{
    display: block;
    text-align: left;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 25px;
}

.hover-color path {
    transition: 0.5s ease;
    stroke-width: 3px;
    stroke: transparent;
    cursor: pointer;
}

.hover-color:hover path {
    fill: #c0282f;
}

.hover-info {
    position: absolute;
    width: 300px;
    background: #fff;
    border: solid 1px #000;
    padding: 30px 70px 30px 35px;
    font-family: Trebuchet MS;
    display: none;
    pointer-events: none;
}

.hover-info h3 {
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 8px 0;
    color: #505050;
    font-size: 23px;
}

.hover-info h2 {
    padding: 0;
    margin: 0 0 8px 0;
    color: #eb6209;
    font-size: 35px;
}

.hover-info p {
    padding: 0;
    margin: 0;
    color: #505050;
    font-size: 16px;
}

#hover-europe {
    left: 20%;
}

#hover-asia {
    left: 30%;
    top: 10%;
}

#hover-africa {
    top: 30%;
}

#hover-namerica {
    right: 20%;
}

#hover-samerica {
    right: 10%;
    bottom: 30%;
}

#hover-australia {
    left: 45%;
    bottom: 30%;
}

#hover-antarctica {
    left: 50%;
    bottom: 10%;
}


/*-- Chapter 8 --*/

#chapter8-icon {
    height: 450px;
    max-height: 450px;
    margin: 0 auto;
    margin-top: 100px;
    opacity: 0;
}


/*-- section headlines color edit --*/

#chapter-6 {
    background: url(../img/frontpage-animations/chapter6-bckg.png) no-repeat center bottom;
    background-size: cover;
}

h3 {
    line-height: 26px;
}

#chapter-1 h2,
#chapter-1 h3 {
    color: #7cc2a1;
}

#chapter-3 .top-section {
    padding-top: 100px;
}

#chapter-3 h2,
#chapter-3 h3 {
    color: #014587;
}

#chapter-4 h2 {
    color: #014587;
}

#chapter-4 h3 {
    color: #697cae;
}

#chapter-5 h2 {
    color: #eb6209;
}

#chapter-6 h2,
#chapter-6 h3 {
    color: #9a5787;
}

#chapter-7 h2,
#chapter-7 h3 {
    color: #eb6209;
}

#chapter-8 h2,
#chapter-8 h3 {
    color: #014587;
}
@media screen and (max-width: 1600px) and (min-width: 1200px) {
    #chapter7-svg {
        height: 600px;
    }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
    #chapter7-svg {
        height: 600px;
    }
}
@media screen and (max-width: 992px) and (min-width: 769px) {
    #chapter7-svg {
        height: 500px;
    }
}
@media screen and (max-width: 768px) and (min-width: 480px) {
    #chapter-6 {
        padding-bottom: 0;
    }
    #chapter-7 {
        padding-bottom: 5px;
    }
    #chapter7-svg {
        height: 300px;
    }
    #chapter6_container {
        margin-top: 0;
        height: 800px;
    }
    #introduction h3 {
        margin-top: 50px;
    }
    #chapter-1 h3 {
        margin-top: 50px;
    }
    #chapter-6 h3 {
        margin-top: 50px;
    }
    /*    #water-anim { display: none;}*/
    .hover-info {
        background: #fff;
        border: solid 1px #000;
        padding: 15px 35px 15px 35px;
        font-family: Trebuchet MS;
        display: none;
        pointer-events: none;
    }
    .hover-info h3 {
        text-transform: uppercase;
        padding: 0;
        margin: 0 0 8px 0;
        color: #505050;
        font-size: 16px;
    }
    .hover-info h2 {
        padding: 0;
        margin: 0 0 8px 0;
        color: #eb6209;
        font-size: 23px;
    }
    .hover-info p {
        padding: 0;
        margin: 0;
        color: #505050;
        font-size: 16px;
    }
}
@media screen and (max-width: 480px) {
    #frontpage-content .mockups img:nth-child(1) {
        transform: translateX(0%);
    }
    #frontpage-content h1 {
        font-size: 38px;
        line-height: 44px;
    }
    #frontpage-content h4 {
        min-width: 310px;
    }
    #anim-frontpage {
        height: 800px;
    }
    #frontpage-content .mockups img:nth-child(2),
    #frontpage-content .mockups img:nth-child(3),
    #frontpage-content .mockups img:nth-child(4),
    #frontpage-content .mockups img:nth-child(5),
    #frontpage-content .mockups img:nth-child(6),
    #frontpage-content .mockups img:nth-child(7),
    #frontpage-content .mockups img:nth-child(8),
    #frontpage-content .mockups img:nth-child(9),
    #frontpage-content .mockups img:nth-child(10) {
        display: none;
    }
    #introduction_container {
        height: 300px;
    }
    #chapter1_container {
        height: 300px;
    }
    #chapter2-illustration {
        height: 130px;
    }
    #chapter6_container {
        height: 310px;
    }
    #chapter7-svg {
        height: 310px;
    }
    #chapter8-icon {
        height: 310px;
    }
    
    /*    #water-anim { display: none;}*/
    #ch5-icon2 {
        width: 90px;
        margin: 0 auto;
        margin-top: 80px;
    }
    #ch5-icon3 {
        width: 110px;
        margin: 0 auto;
        margin-top: 102px;
    }
    #ch5-icon3 svg {
        transform: translateY(30px)
    }
    #ch5-icon4 {
        width: 70px;
        margin: 0 auto;
        margin-top: 44px;
    }
    #ch5-icon2+h3,
    #ch5-icon3+h3,
    #ch5-icon4+h3 {
        font-size: 15px;
        line-height: 21px;
    }
    #water-anim {
        background: #a6d8f4;
        height: 600px;
        width: 100%;
        position: relative;
    }
    #iceberg1 {
        width: 100px;
    }
    #iceberg2 {
        width: 100px;
    }
    #iceberg3 {
        width: 100px;
    }
    #iceberg4 {
        width: 100px;
    }
    #wateranim-action {
        height: 100%;
    }
    #water-anim .side-left,
    #water-anim .side-right {
        width: 48%;
    }
    #iceberg1 {
        top: 10%;
        right: 60%;
    }
    #iceberg3 {
        top: 80%;
        right: 50%;
    }
    #iceberg2 {
        top: 23%;
        left: 45%;
    }
    #iceberg4 {
        top: 70%;
        left: 40%;
    }
    #ship {
        width: 170px;
        top: 23%;
    }
    .ice-text {
        font-size: 12px;
        line-height: 20px;
    }
    #iceberg1 .ice-text {
        top: -32%;
    }
    #iceberg3 .ice-text {
        top: -90%;
    }
    #iceberg2 .ice-text {
        top: -98%;
    }
    #iceberg4 .ice-text {
        top: -60%;
    }
    .hover-info {
    width: 150px;
    }
}
